__pycache__/
.cache
.coverage
.coverage.*
.eggs/
.installed.cfg
.Python
.ruff_cache/
.tox/
.venv
*.egg
*.egg-info/
*.mmdb
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
env/
GeoLite2-*
htmlcov/
lib/
lib64/
parts/
poetry.lock
sdist/
var/
